<h5>AZ/AN Service ist Ihr direkter Draht zu Aachener Zeitung und Aachener Nachrichten - zu den Redaktionen genauso wie zum Leserservice.</h5>
<p>Senden Sie uns über die App Ihre Kommentare, Hinweise, Audio-Aufnahmen, Fotos oder kurze Videos! Bestellen Sie über AZ/AN Service komfortabel Produkte aus dem Angebot des Medienhauses Aachen! Nehmen Sie als Kunde bequem Kontakt zu Ihrem Leserservice auf!</p>
<p>Sie können unsere App kostenlos im Store herunterladen. Auch die Nutzung ist kostenlos.</p>
<p>Beachten Sie bitte, dass beim Upload großer Datenmengen wie zum Beispiel Videos möglicherweise Kosten durch Überschreitung Ihres Datenvolumens entstehen können. Am besten übertragen Sie diese Dateien erst dann, wenn Ihr Gerät wieder mit einem Wireless LAN verbunden ist.</p>
<p>Ihre Kommentare, Fotos, Audios und Videos werden von der Redaktion gesichtet. Die Einsendungen können in den Auftritten von AZ und AN in sozialen Netzwerken auftauchen, auf den Websites oder in den Druckausgaben der Zeitungen. Ein Recht auf Veröffentlichung des Materials haben Sie aber nicht. Aufgrund der Fülle der Einsendungen können wir Sie leider nicht benachrichtigen, wenn wir Ihre Inhalte veröffentlichen.</p>
<p>Seien Sie bei der Beschreibung Ihres Bildes, Videos oder Audios ausführlich. Je genauer Sie uns mitteilen, an welchem Ort, zu welcher Zeit oder unter welchen Umständen Ihre Aufnahme entstanden ist, desto besser können wir Ihre Zusendung einordnen und verwenden.</p>
<p>Um Inhalte an uns zu senden, müssen Sie lediglich eine E-Mail-Adresse angeben und den Nutzungsbedingungen zustimmen. Informationen wie Name oder Telefonnummer und Kommentar helfen uns, die Zusendung besser zuzuordnen. Selbstverständlich werden Ihre Angaben nicht an Dritte weitergegeben (siehe dazu auch <a href="dataprotection">Datenschutz</a>).</p>
<p>Sollte eine Übertragung der Daten nicht möglich sein, so kann dies verschiedene Gründe haben: Unter Umständen besteht keine (ausreichende) Verbindung zum Internet oder Ihr Datenvolumen ist bereits aufgebraucht.</p>
<p>Sie können Ihre Zulieferung jederzeit zurückziehen. Senden Sie dazu eine Mail an app@medienhausaachen.de mit einer genauen Beschreibung des Materials, das Sie nicht veröffentlichen möchten. Wir werden uns bemühen, das Material umgehend zu löschen, können dies aber nicht garantieren. Sollte das Material bereits veröffentlicht worden sein, werden wir uns bemühen, den Inhalt dort zu löschen, wo dies möglich ist.</p>
<h5>Tipps: So gelingt Ihre Bild-Aufnahme optimal</h5>
<p>1. Wählen Sie in Ihren Kamera-Einstellungen mittlere Bildformate und eine mittlere Auflösung bzw. Videoqualität aus. Wir benötigen kein Full-HD. Dadurch werden die zu übertragenden Datenmengen kleiner.</p>
<p>2. Halten Sie bei der Aufnahme Ihr Gerät immer waagerecht, damit Videos und Bilder im Querformat aufgezeichnet werden.</p>
<p>3. Ihre Aufnahme sollte möglichst ruhig sein. Halten Sie deshalb Ihr Gerät am besten mit beiden Händen, um die Aufnahme nicht zu verwackeln. Wenn Sie die Ellenbogen nah am Körper halten und breitbeinig stehen, wird das Bild noch stabiler. Sie können sich auch anlehnen oder abstützen.</p>
<p>4. Verwenden Sie nicht die Zoom-Funktion des Gerätes. Dadurch verschlechtert sich die Bildqualität. Treten Sie lieber näher ans Motiv heran.</p>
<p>5. Manche digitalen Kameras haben Probleme bei schlechtem Licht. Achten Sie darauf, dass das Motiv ausreichend beleuchtet ist und sich die Lichtquelle hinter der Kamera befindet.</p>
<p>6. Bitte respektieren Sie die Persönlichkeitsrechte anderer Menschen. Filmen oder fotografieren Sie Dritte nicht ohne deren Einverständnis. Wichtig! Bringen Sie sich und andere nicht in Gefahr und behindern Sie keine Polizei- oder Rettungseinsätze!</p>
<h5>Tipps: So gelingt Ihre Audio-Aufnahme optimal</h5>
<p>1. Schalten Sie ihr Telefon lautlos, damit Ihre Aufnahme bei einem eventuell eingehenden Anruf nicht vom Klingelton gestört wird.</p>
<p>2. Stellen Sie sicher, dass die Mikrofon-Öffnung des Gerätes nicht versehentlich von Ihren Fingern verdeckt ist.</p>
<p>3. Sie sollten die Aufnahme in möglichst ruhiger Umgebung ohne laute Hintergrundgeräusche machen.</p>
<p>4. Möchten Sie nur Ihre Stimme aufnehmen, dann halten Sie das Gerät so, als würden Sie telefonieren.</p>
<p>5. Zum Aufnehmen eines Gesprächs legen Sie das Gerät auf einen Tisch zwischen die Gesprächspartner, so dass es möglichst gleich weit von allen Gesprächsteilnehmern entfernt ist.</p>