<h5>AZ/AN Direkt ist ein digitales Service-Angebot der Medienhaus Aachem GmbH (Aachener Zeitung/Aachener Nachrichten)</h5>
<p>So erreichen Sie unseren Leserservice:<br>
Geschäftssitz: Dresdener Straße 3<br>
Hotline: <a href="tel:0241 5101-725">0241 5101-725</a><br>
E-Mail: <a href="mailto:servicecenter@medienhausaachen.de">servicecenter@medienhausaachen.de</a></p>
<p>So erreichen Sie unser App-Team:<br>
Telefon: <a href="tel:0241 5101-357">0241 5101-357</a><br>
E-Mail: <a href="mailto:app@zva-digital.de">app@zva-digital.de</a><br>
</p>

