
    <h5>So funktioniert die App</h5>
    <p>AZ/AN Service ist die offizielle Feedback-App von Aachener Zeitung und Aachener Nachrichten. Mit dieser App können Sie bequem von Ihrem mobilen Gerät aus eine Reihe von Service-Leistungen und Kontakt-Möglichkeiten rund um die Produkte und Aktionen der beiden Zeitungen und des Medienhauses Aachen nutzen.
    </p>

    <p>Die App gliedert sich in zwei Bereiche, die Sie über den unteren Bildschirmrand erreichen können. Zum einen "Aktionen", zum anderen "Leserservice", wo Sie Service-Angebote und Kontakt-Möglichkeiten  rund um Ihr Abonnement finden.
    </p>

    <p>Am oberen Bildschirmrand finden Sie neben dem AZ/AN Service-Logo drei Symbole.
    </p>

    <p>Mit dem <span class="span-hilfe"><span class="icon-refresh"></span></span> können Sie die Inhalte der App neu laden.
    </p>

    <p>Mit dem <span class="span-hilfe"><span class="icon-info-sign"></span></span> erreichen Sie die Erklärungsseite, die erläutert, was Sie mit der App alles machen können.
    </p>

    <p>Das <span class="span-hilfe"><span class="icon-align-justify"></span></span> führt zu den Einstellungen. Hier finden Sie Informationen rund um die App wie Hilfe, Impressum, Kontaktmöglichkeiten, aber auch Datenschutz-Hinweise und Nutzungsbedingungen.
    </p>

    <p>Besonders hilfreich ist der Punkt Meine Daten. Hier können Sie einige persönliche Daten (nur lokal auf dem Gerät) abspeichern, die Ihnen dann die Nutzung der App erleichtern. So müssen Sie beispielsweise nicht bei jeder Anfrage oder Reklamation Ihre Daten wie Name, Adresse oder Aboplus-Nummer neu eingeben.
    </p>

    <p>Wenn Sie von der Startseite aus eine Aktion oder einen Servicebereich angetippt haben, finden Sie neben einer kurzen Erläuterung und den Eingabe-/Auswahlmöglichkeiten für Ihre Daten am unteren Bildschirmrand einige Symbole, mit denen Sie auf Ihrem Gerät Aktionen ausführen können.
    </p>

    <p><span class="span-hilfe"><span class="icon-pencil"></span></span>Schreiben Sie uns einen kurzen Text
    </p>

    <p><span class="span-hilfe"><span class="icon-picture"></span></span>Machen Sie ein Foto oder wählen Sie eines aus Ihrer Fotosammlung aus
    </p>

    <p><span class="span-hilfe"><span class="icon-facetime-video"></span></span>Nehmen Sie ein kurzes Video auf oder wählen Sie eines aus Ihrer Videosammlung aus
    </p>

    <p><span class="span-hilfe"><span class="icon-bullhorn"></span></span>Nehmen Sie eine kurze Audiosequenz auf
    </p>

    <p><span class="span-hilfe"><span class="icon-phone"></span></span>Rufen Sie direkt den richtigen Ansprechpartner bei uns an
    </p>
</div>