<h5>AZ/AN Service ist ein digitales Services-Angebot der</h5>
<p>Medienhaus Aachen GmbH<br>
Geschäftssitz: Dresdener Straße 3<br>
52068 Aachen<br>
Telefon: 0241/5101-0<br>
    Fax: 0241/5101-360</p>
<p><a href="mailto:info@medienhausaachen.de">info@medienhausaachen.de</a></p>
<h5>Rechtsform, Register, Vertretungsberechtigung</h5>
<p>Medienhaus Aachen GmbH ist eine Gesellschaft mit beschränkter Haftung (GmbH), eingetragen im Handelsregister B des Amtsgerichts Aachen Nr. 736. Vertretungsberechtigt ist der Geschäftsführer Andreas Müller.
</p>
<h5>Umsatzsteuer-Identifikationsnummer (§27a UStG)</h5>
<p>USt-ID-Nummer DE121689171</p>
<p>Die Europäische Kommission stellt eine von ihr betriebene Plattform zur außergerichtlichen Online-Streitbeilegung (OS) bereit. Die Plattform finden Sie im Internet unter</p>
<p><a href="https://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.</p>
<br><br>
<p>Hinweis nach § 36 VSBG</p>
<br><br>
<p>Wir sind nicht bereit und nicht verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
