<p>Sie können auf viele Arten über die App mit uns in Kontakt treten: Schicken Sie Ihre Kommentare, Fotos, Videos oder Audioaufnahmen über die App an das Medienhaus oder beteiligen Sie sich an unseren Aktionen und nutzen unsere Leserservice-Angebote.
</p>
<p>Bei den verschiedenen Kontaktmöglichkeiten finden Sie jeweils unterschiedliche Abfragefelder. Wir benötigen die dort abgefragten Daten, um Inhalte oder Anfragen zuzuordnen und verifizieren zu können. Anonyme Zusendungen sind nicht möglich.
</p>
<p>Das Medienhaus Aachen sichtet alle Zulieferungen und veröffentlicht adäquates Material auf seinen digitalen und analogen Publikationskanälen. Er behält sich das Recht vor, eingesandtes Material nicht zu veröffentlichen. Einsendungen werden niemals an Dritte weitergeben.
            </p>

<p>Die Medienhaus Aachen GmbH speichert Ihre personenbezogenen Daten allein aus redaktionellen und rechtlichen Gründen. Ihr Name und eine E-Mail-Adresse werden benötigt, um Sie als Absender eines Beitrags gegebenenfalls kontaktieren zu können. Deswegen bitten wir um wahrheitsgemäße persönliche Angaben.
            </p>

<p>Vor dem Übertragen Ihres Beitrags können Sie jeweils entscheiden, ob Sie uns Ihren aktuellen Standort übermitteln möchten. Dies hilft der Redaktion bei der korrekten Verortung Ihres Beitrags, wenn Sie beispielsweise Fotos oder Videos von aktuellen Ereignissen schicken. Selbstverständlich können Sie die Übermittlung Ihres Standorts auch ablehnen. Sie ist standardmäßig immer deaktiviert.
            </p>

<p>Mit dem Hochladen von Audio-, Foto- oder Video-Daten  erklären Sie sich mit folgenden Nutzungsbedingungen einverstanden:
            </p>

<p>- Ich bestätige, dass ich volljährig bin.
            </p>

<p>- Ich stelle als Lizenzgeber mein Audio-, Bild- und/oder Bewegtbild-Material der Medienhaus Aachen GmbH  kostenfrei zur Verfügung, für das ich als Rechteinhaber der Medienhaus Aachen GmbH das nicht-exklusive Recht zur Nutzung einräume. Das heißt, die Bilder, Audios und Videos gehören weiterhin mir, ich erlaube der Medienhaus Aachen GmbH aber die Nutzung zu redaktionellen Zwecken auf allen Ausspielwegen (Druckprodukte, digitale Kanäle, inklusive der Social-Media-Angebote).
            </p>

<p>- Ich bestätige, dass mir hinsichtlich des o.g. Materials sämtliche für diese Nutzung erforderlichen Rechte gehören und dass ich über diese Rechte verfügen kann. Mir ist insbesondere bekannt, dass das Aufnehmen vom Fernseh- oder Computerbildschirm, von Zeitschriften, Zeitungen, Fotos, etc. sowie die Verwendung von Musik, die ich nicht selbst komponiert, eingespielt und aufgenommen habe, die Rechte Dritter berühren kann und deren Erlaubnis bedarf.
            </p>

<p>- Ich bestätige darüber hinaus, dass durch das Veröffentlichen keine Persönlichkeitsrechte verletzt werden und erkennbar abgebildete Personen mit der Veröffentlichung der Bilder und Videos im o.g. Umfang einverstanden sind.
            </p>
<p> </p>

